.f-container{
  width: 1200px;
  margin: 20px auto;
  padding: 50px 0;
}
.service{
  width: 300px;
  float: left;
}
.f-container::after{
  content: "";
  display: block;
  clear: both;
}
.service li{
  float: left;
  padding-left: 50px;
}
.service li div:first-child{
  float: left;
  font-size: 36px;
  width: 50px;
  color:#0f77be;
}
.service li div:last-child{
  float: left;
  width: 200px;
}
.service li div p{
  text-align: left;
}
.service li div p:first-child{
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.service li div p:last-child{
  font-size: 16px;
  color: #888;
}
/* other页脚 */
.f-other{
  width: 100%;
  height: 200px;
  background: #333;
}
.f-other ul{
  margin: 0 auto;
  padding-top: 50px;
  width: 1200px;
}
.f-other ul::after{
  content: "";
  display: block;
  clear: both;
}
.f-other ul li{
  float: left;
  color: #fff;
  padding-left: 100px;
}
.f-other ul li:first-child{
  padding-left: 0;
}
.f-slide{
  width: 1200px;
  margin: 0 auto;
  border-top: 1px solid #fff;
  margin-top: 40px;
}